/* css file */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 375px;
  max-width: 375px;
  position: relative;
}

main {
  padding: 4rem 1.5rem;
  background-color: hsl(233, 47%, 7%);
  margin: 2em auto;
  border: 1px solid hsl(277, 64%, 61%);
  position: relative;
}

.card {
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  position: relative;
}

#text {
  text-align: center;
  padding: 2.5rem 1.5rem;
}

#text > h1 {
  padding: 1.5rem 1.5rem;
}

.inter {
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: x-large;
}

.deca {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
}

#purple {
  color: hsl(277, 64%, 61%);
}
.stap {
  color: hsla(0, 0%, 100%, 0.6);
}

.images {
  background-color: hsla(277, 80%, 50%, 0.5);
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.back {
  background: url(./images/image-header-mobile.jpg) no-repeat center
    center/cover;
  width: 100%;
  height: 300px;
  z-index: -1;
  border-radius: 10px 10px 0 0;
}

#text > .stats {
  padding-bottom: 0px;
}

.deca_p {
  line-height: 20pt;
}

@media (min-width: 700px) {
  .container {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  main {
    padding: 6rem;
    background-color: hsl(233, 47%, 7%);
    margin: 2.5rem auto;
    border: 1px solid hsl(277, 64%, 61%);
    position: relative;
    width: 90%;
  }
  .card {
    display: flex;
    justify-content: center;
  }
  .images {
    background-color: hsla(277, 80%, 50%, 0.5);
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
  .back {
    background: url(./images/image-header-desktop.jpg) no-repeat center
      center/cover;
    z-index: -1;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100%;
  }
  #text {
    text-align: left;
    padding: 2rem 4rem;
  }
  #text > h1 {
    padding: 1.5rem 0;
  }
  .statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
